{
	"IPs": {
	  "Desktop": "xxx",
	  "Pi-Server": "xxx",
	  "Pi-Node": "xxx"
	},
	"mysql": {
	  "passwd": "xxx",
	  "host": "xxxt",
	  "user": "xxx",
	  "db": "xxx"
	},
	"logging": {
	  "level": "xxx",
	  "filename": "xxx",
	  "format":  "xxx"
	},
	"RabbitMQ": {
	  "user": "xxx",
	  "passwd": "xxx",
	  "host": "xxx",
	  "port": "xxx"
	  }
  }